{{#extends 'base'}}
{{#block 'nav'}}
<nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item ms-2 mr-2">
                    <a class="nav-link" href="/admin/products">Home</a>
                </li>
                <li class="nav-item ms-2 mr-2">
                    <a class="nav-link" href="/admin/products">Products</a>
                </li>
                <li class="nav-item ms-2 mr-2">
                    <a class="nav-link" href="/admin/suppliers">Manage Suppliers</a>
                </li>
                <li class="nav-item ms-2 mr-2">
                    <a class="nav-link" href="/admin/add-product">List new product</a>
                </li>
                <li class="nav-item ms-2 mr-2">
                    <a class="nav-link" href="/admin/carts">Manage Carts</a>
                </li>                    
                <li class="nav-item ms-2 mr-2">
                    <a class="nav-link" href="/admin/orders">Manage Orders</a>
                </li>                    
            </ul>
            <div>
                <span   class="me-2"
                        style="font-family: Montserrat, sans-serif; font-size:13px;"> Welcome back, Admin </span>
                <a href="/admin/logout" class="ml-3 me-4 btn btn-dark btn-sm">Logout</a>
            </div>
        </div>
    </nav>
{{/block}}

{{#block "content"}}

<div class="d-flex align-items-center">
    <button id="search-toggle" class="btn btn-light btn-sm ms-2 mt-2 me-2" style="border: 1px solid silver;"> = </button>
    <h5 class="ms-2 mt-2 mb-3">Carts</h5>
</div>

<div class="container-fluid mt-0 ms-2">
    <div class="row">
        <div id="search-form" class="col-md-2">
            <form method="GET" style="max-width:230px; margin-top: 15px;">
                <h6> Search </h6>
                <div style="font-family: Montserrat, sans-serif; font-size:13px; margin-top: 10px;">
                    {{{searchForm}}}
                </div>
                <input type="submit" class="mb-2 mt-3 btn btn-dark btn-sm"/>
            </form>
        </div>
        <div id="carts-table" class="col-md-10">
            <table class="table" style="text-align: center">
                <thead>
                    <tr>
                        <th>Cart ID</th>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Product Version</th>
                        <th>Price</th>                      
                        <th>Date Time</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each carts}}
                    <tr>
                        <td>{{this.cart_id}}</td>
                        <td>{{this.product_id}}</td>
                        <td>{{this.productName}}</td>
                        <td>{{this.productVersion.versionName}}</td>
                        <td>{{this.productVersion.price}}</td>
                        <td>{{this.date_time}}</td>
                        <td>
                            <a href="/admin/carts/{{this.cart_id}}/delete-cart" class="btn btn-secondary btn-sm"> Delete Cart </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/block}}

{{#block 'js'}}
    <script>
        let searchToggle = document.querySelector('#search-toggle');
        let searchForm = document.querySelector('#search-form');
        let cartsTable = document.querySelector('#carts-table');

        searchToggle.addEventListener('click', ()=>{
            searchForm.style.display = searchForm.style.display === 'none'? 'inline' : 'none';
            if (cartsTable.classList === 'col-md-10'){
                cartsTable.classList.toggle('col-md-12')
            } else {
                cartsTable.classList.toggle('col-md-10')
            }
        })
    </script>
{{/block}}
{{/extends}}