{{#extends 'base'}}
{{#block "content"}}

<a href="#" onclick="goBack()" class="mt-3 mb-3 btn btn-secondary btn-sm"> Go Back </a>


<div class="d-flex align-items-center">
    <button id="search-toggle" class="btn btn-light btn-sm ms-2 mt-2 me-2" style="border: 1px solid silver;"> = </button>
    <h4 class="ms-3 mt-3"> The Supplier: {{suppliers.studioShopName}} Products </h4>
</div>

<div class="container-fluid mt-3 ms-0">
    <div class="row">
        <div id="search-form" class="col-md-2 mt-3">
            <form method="GET" style="max-width:230px">
                <h6> Search </h6>
                <div style="font-family: Montserrat, sans-serif; font-size:13px; margin-top: 10px;">
                    {{{searchForm}}}
                </div>
                <input type="submit" class="mb-2 mt-3 btn btn-dark btn-sm"/>
            </form>
        </div>
        <div id="listing-table" class="col-md-10">
            <table class="table">
                <thead>
                    <tr style="text-align: center">
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Product Version</th>
                        <th>Price</th>
                        <th>Date Created</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr style="text-align: center">
                        <td>{{this.id}}</td>
                        <td>{{this.productName}}</td>
                        <td>{{this.productVersion.versionName}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.productVersion.price}}</td>
                        <td>{{this.suppliers.studioShopName}}</td>
                        <td>{{this.date_created}}</td>
                        <td>
                            {{#if this.productVersion.image_url}}
                                <img src="{{this.image_url}}" class="img-fluid" alt="image">
                            {{/if}}
                        </td>
                        <td>
                            <a href="/admin/products/{{this.id}}/update" class="btn btn-light btn-sm">Update</a>
                        </td>
                        <td>
                            <a href="/admin/products/{{this.id}}/delete" class="btn btn-dark btn-sm">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{/block}}
{{#block 'js'}}

    <script>
        let searchToggle = document.querySelector('#search-toggle');
        let searchForm = document.querySelector('#search-form');
        let listingTable = document.querySelector('#listing-table');

        searchToggle.addEventListener('click', ()=>{
            searchForm.style.display = searchForm.style.display === 'none'? 'inline' : 'none';
            if (listingTable.classList === 'col-md-10'){
                listingTable.classList.toggle('col-md-12')
            } else {
                listingTable.classList.toggle('col-md-10')
            }
        })

        function goBack(){
            window.history.back();
        }
    </script>
{{/block}}
{{/extends}}